body {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-left: 20px;
}
